
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Always run with Docker
docker {
    enabled = true
}

process { 
	withLabel: GCTA_GSMR { 
		errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = { 8.GB + (16.GB * (task.attempt - 1)) }
	}
}
