process {

    container = 'ubuntu:22.04'
    
    withLabel: untar {
        container = "ubuntu:22.04"
    }

    
    withLabel: merge {
        container = 'ubuntu:22.04'
    }
    withLabel: r_lift {
        container = "juliaapolonio/mungesumstats:v1"
    }
    withLabel: GCTA_GSMR {
        container = "quay.io/biocontainers/gcta:1.94.1--h9ee0642_0"
    }
}

docker {
    enabled = true
}