process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withLabel: GCTA_GSMR {
        errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = { 8.GB + (16.GB * (task.attempt - 1)) }
        publishDir = [
            path: { "${params.outdir}/results" },
            mode: 'copy'
        ]
    }
}
